$a2im-blue: #2a3a53;

nav {
	background-color: $a2im-blue !important;
	border: none !important;
	border-radius: 0 !important;
	height: 80px !important;

	.navbar-brand {
		padding: 0;
		height: 70px;

		img#a2im-logo {
			width: auto;
			height: 100%;
			padding: 16px;
		}

	}

}